In [1]:
from ib_insync import *
util.startLoop()

In [2]:
ib = IB()
ib.connect('127.0.0.1', 7497, clientId=10)

In [4]:
contract = Future('ES', '202403', 'CME')

ib.qualifyContracts(contract)

[Future(conId=533620665, symbol='ES', lastTradeDateOrContractMonth='20240315', multiplier='50', exchange='CME', currency='USD', localSymbol='ESH4', tradingClass='ES')]

In [5]:
ib.reqMarketDataType(3)

In [6]:
historical_data = ib.reqHistoricalData(
    contract, endDateTime='', durationStr='10 Y',
    barSizeSetting='1 day', whatToShow='TRADES', useRTH=True)

In [7]:
df = util.df(historical_data)
df.head(50)

          date     open     high      low    close  volume  average  barCount
0   2021-12-20  4561.75  4561.75  4561.75  4561.75     0.0  4561.75         0
1   2021-12-21  4641.75  4641.75  4641.75  4641.75     0.0  4641.75         0
2   2021-12-22  4687.50  4687.50  4687.50  4687.50     0.0  4687.50         0
3   2021-12-23  4719.50  4719.50  4719.50  4719.50     0.0  4719.50         0
4   2021-12-27  4786.00  4786.00  4786.00  4786.00     0.0  4786.00         0
5   2021-12-28  4787.00  4787.00  4787.00  4787.00     0.0  4787.00         0
6   2021-12-29  4795.00  4795.00  4795.00  4795.00     0.0  4795.00         0
7   2021-12-30  4781.00  4781.00  4781.00  4781.00     0.0  4781.00         0
8   2021-12-31  4767.00  4767.00  4767.00  4767.00     0.0  4767.00         0
9   2022-01-03  4800.50  4800.50  4800.50  4800.50     0.0  4800.50         0
10  2022-01-04  4802.50  4802.50  4802.50  4802.50     0.0  4802.50         0
11  2022-01-05  4709.75  4709.75  4709.75  4709.75     0.0  4709.75         0
12  2022-01-06  4707.75  4707.75  4707.75  4707.75     0.0  4707.75         0
13  2022-01-07  4689.75  4689.75  4689.75  4689.75     0.0  4689.75         0
14  2022-01-10  4685.00  4685.00  4685.00  4685.00     0.0  4685.00         0
15  2022-01-11  4724.75  4724.75  4724.75  4724.75     0.0  4724.75         0
16  2022-01-12  4737.50  4737.50  4737.50  4737.50     0.0  4737.50         0
17  2022-01-13  4668.50  4668.50  4668.50  4668.50     0.0  4668.50         0
18  2022-01-14  4684.50  4684.50  4684.50  4684.50     0.0  4684.50         0
19  2022-01-18  4593.50  4593.50  4593.50  4593.50     0.0  4593.50         0
20  2022-01-19  4547.50  4547.50  4547.50  4547.50     0.0  4547.50         0
21  2022-01-20  4497.50  4497.50  4497.50  4497.50     0.0  4497.50         0
22  2022-01-21  4411.50  4411.50  4411.50  4411.50     0.0  4411.50         0
23  2022-01-24  4422.50  4422.50  4422.50  4422.50     0.0  4422.50         0
24  2022-01-25  4365.00  4365.00  4365.00  4365.00     0.0  4365.00         0
25  2022-01-26  4360.25  4360.25  4360.25  4360.25     0.0  4360.25         0
26  2022-01-27  4335.00  4335.00  4335.00  4335.00     0.0  4335.00         0
27  2022-01-28  4447.50  4447.50  4447.50  4447.50     0.0  4447.50         0
28  2022-01-31  4538.75  4538.75  4538.75  4538.75     0.0  4538.75         0
29  2022-02-01  4572.75  4572.75  4572.75  4572.75     0.0  4572.75         0
30  2022-02-02  4613.75  4613.75  4613.75  4613.75     0.0  4613.75         0
31  2022-02-03  4504.25  4504.25  4504.25  4504.25     0.0  4504.25         0
32  2022-02-04  4542.25  4542.25  4542.25  4542.25     0.0  4542.25         0
33  2022-02-07  4520.25  4520.25  4520.25  4520.25     0.0  4520.25         0
34  2022-02-08  4562.25  4562.25  4562.25  4562.25     0.0  4562.25         0
35  2022-02-09  4629.25  4629.25  4629.25  4629.25     0.0  4629.25         0
36  2022-02-10  4564.25  4564.25  4564.25  4564.25     0.0  4564.25         0
37  2022-02-11  4476.00  4476.00  4476.00  4476.00     0.0  4476.00         0
38  2022-02-14  4462.00  4462.00  4462.00  4462.00     0.0  4462.00         0
39  2022-02-15  4528.75  4528.75  4528.75  4528.75     0.0  4528.75         0
40  2022-02-16  4532.75  4532.75  4532.75  4532.75     0.0  4532.75         0
41  2022-02-17  4435.75  4435.75  4435.75  4435.75     0.0  4435.75         0
42  2022-02-18  4398.75  4398.75  4398.75  4398.75     0.0  4398.75         0
43  2022-02-22  4363.75  4363.75  4363.75  4363.75     0.0  4363.75         0
44  2022-02-23  4284.25  4284.25  4284.25  4284.25     0.0  4284.25         0
45  2022-02-24  4339.25  4339.25  4339.25  4339.25     0.0  4339.25         0
46  2022-02-25  4437.25  4437.25  4437.25  4437.25     0.0  4437.25         0
47  2022-03-04  4381.00  4381.00  4381.00  4381.00     0.0  4381.00         0
48  2022-03-07  4246.00  4246.00  4246.00  4246.00     0.0  4246.00         0
49  2022-03-08  4231.00  4231.00  4231.00  4231.00     0.0  4231.00         0

In [8]:
df.tail(5)

,date,open,high,low,close,volume,average,barCount
552,2024-03-11,5114.25,5129.00,5094.75,5128.25,527804.0,5113.725,155291
553,2024-03-12,5143.75,5183.00,5117.75,5175.00,359126.0,5159.950,110781
554,2024-03-13,5179.50,5181.50,5153.00,5172.50,181696.0,5171.250,63905
555,2024-03-14,5175.75,5177.50,5124.25,5153.50,177383.0,5150.875,72732
556,2024-03-15,5101.75,5101.75,5101.75,5101.75,0.0,5101.750,0

In [10]:
import pandas as pd
df['date'] = pd.to_datetime(df['date'])

In [11]:
# Only keep entries with a max date of 2024/03/13
df = df[df.date <= '2024-03-13']
df.tail(5)

,date,open,high,low,close,volume,average,barCount
550,2024-03-07,5143.00,5170.5,5133.25,5157.25,1318691.0,5155.275,292073
551,2024-03-08,5165.00,5193.0,5121.75,5132.00,1727748.0,5155.750,448503
552,2024-03-11,5114.25,5129.0,5094.75,5128.25,527804.0,5113.725,155291
553,2024-03-12,5143.75,5183.0,5117.75,5175.00,359126.0,5159.950,110781
554,2024-03-13,5179.50,5181.5,5153.00,5172.50,181696.0,5171.250,63905

In [12]:
# save df to csv
df.to_csv('es_days_03_13_2024.csv')

In [ ]:
import pandas as pd
import plotly.graph_objects as go

# Assuming your DataFrame is named 'df'
# Reset the index to create a numeric index
df = df.reset_index(drop=True)

# Create a hover text string that includes date and prices for each point
hover_texts = df['date'].dt.strftime('%Y-%m-%d %H:%M') + '<br>Open: ' + df['open'].astype(str) + '<br>High: ' + df['high'].astype(str) + '<br>Low: ' + df['low'].astype(str) + '<br>Close: ' + df['close'].astype(str)

# Create an interactive candlestick chart using Plotly with custom hover text
fig = go.Figure(data=[go.Candlestick(x=df.index,
                                     open=df['open'],
                                     high=df['high'],
                                     low=df['low'],
                                     close=df['close'],
                                     hovertext=hover_texts,
                                     hoverinfo='text')])  # Use 'text' for custom hovertext


# Find the index positions of the middle of each trading day
middle_indices = df.groupby(df['date'].dt.date).apply(lambda x: x.index[len(x)//2]).values

# Create custom x-axis labels based on the middle index positions
x_labels = df.loc[middle_indices, 'date'].dt.strftime('%m-%d')

# Correctly find the numeric index positions of the first and last entries for each trading day
first_indices = df.groupby(df['date'].dt.date).apply(lambda x: x.index[0]).values
last_indices = df.groupby(df['date'].dt.date).apply(lambda x: x.index[-1]).values


# Create vertical lines for the start and end of each trading day
shapes = [dict(type='line',
               x0=i, y0=df['low'].min(), x1=i, y1=df['high'].max(),
               xref='x', yref='y',
               line=dict(color='green', width=1, dash='dash'))
          for i in first_indices]

# Customize the layout
fig.update_layout(
    title='Historical Prices',
    yaxis_title='Price',
    xaxis=dict(
        tickmode='array',
        #tickvals=middle_indices,
        #ticktext=x_labels,
        tickangle=-45
    ),
    xaxis_rangeslider_visible=False,
    #shapes=shapes
)

# Display the interactive plot
fig.show()

In [ ]:
# Line plot on the closing prices only
fig = go.Figure(data=go.Scatter(x=df.index, y=df['close'], mode='lines'))
fig.update_layout(title='Closing Prices', xaxis_title='Time', yaxis_title='Price')
fig.show()

In [ ]:
df.tail(10)

In [ ]:
import statsmodels.api as sm
import numpy as np
import pandas as pd
import plotly.graph_objects as go

# Assuming your DataFrame is named 'df' and contains a 'close' column
df['index'] = df.index.astype(int)

# cos_index
df['cos_index'] = np.cos(df.index)
df['sin_index'] = np.sin(df.index)
df['prev_close'] = df['close'].shift(1)

# Drop any missing values from the DataFrame
data = df.dropna()

# Prepare the data for linear regression
X = data[['index', 'cos_index', 'sin_index', 'volume']]
X = sm.add_constant(X)
y = data['close']

# Fit the linear regression model
model = sm.OLS(y, X).fit()
print(model.summary())

# Make predictions using the model
predictions = model.predict(X)

# Create a new DataFrame to store the predictions
pred_df = pd.DataFrame({'close': data['close'], 'predictions': predictions}, index=data.index)

# Create the line plot on the closing prices
fig = go.Figure(data=go.Scatter(x=df.index, y=df['close'], mode='lines', name='Closing Prices'))

# Add the predicted values to the plot
fig.add_trace(go.Scatter(x=pred_df.index, y=pred_df['predictions'], mode='lines', name='Predicted Prices'))

# Customize the layout
fig.update_layout(title='Closing Prices with Linear Regression',
                  xaxis_title='Time',
                  yaxis_title='Price')

# Display the interactive plot
fig.show()

In [ ]:
# Example for SPY ETF
spy_etf = Stock('SPY', 'ARCA', 'USD')
ib.qualifyContracts(spy_etf)

historical_data_spy = ib.reqHistoricalData(
    spy_etf, endDateTime='', durationStr='2 Y',
    barSizeSetting='1 hour', whatToShow='TRADES', useRTH=True)

spy_df = util.df(historical_data_spy)
print(spy_df.head())

In [ ]:
import pytz

# Assuming your SPY DataFrame is named 'spy_df'
# and the date column is named 'date'

# Convert the 'date' column to datetime if it's not already
spy_df['date'] = pd.to_datetime(spy_df['date'])

# Convert the time zone from US/Eastern to US/Central
central = pytz.timezone('US/Central')
spy_df['date'] = spy_df['date'].dt.tz_convert(central)

# Print the updated 'spy_df' DataFrame
spy_df.tail(50)

In [ ]:
start_date = '2022-12-27'
spy_df = spy_df[spy_df['date'] >= start_date]

# Reset the index
spy_df = spy_df.reset_index(drop=True)
spy_df.head(5)

In [ ]:
spy_df.head(10)

In [ ]:
import pandas as pd
import plotly.graph_objects as go
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Assuming your DataFrames are named 'spy_df' and 'es_df'
# and the closing price columns are named 'close'

# Merge the DataFrames based on the 'date' column
merged_df = pd.merge(df, spy_df, on='date', suffixes=('_ES', '_SPY'), how='left')
merged_df.head(10)

In [ ]:
# Drop all colums except date, close_ES, close_SPY, and index
merged_df = merged_df[['date', 'close_ES', 'close_SPY', 'index']]
merged_df.head(10)

In [ ]:
# fill nan with the previous value
merged_df = merged_df.fillna(method='ffill')
merged_df.head(10)

In [ ]:
# Standard normalization
scaler_std = StandardScaler()
merged_df['close_ES_std'] = scaler_std.fit_transform(merged_df[['close_ES']])
merged_df['close_SPY_std'] = scaler_std.fit_transform(merged_df[['close_SPY']])
merged_df.head(10)

In [ ]:
# Min-max normalization
scaler_mm = MinMaxScaler()
merged_df['close_ES_mm'] = scaler_mm.fit_transform(merged_df[['close_ES']])
merged_df['close_SPY_mm'] = scaler_mm.fit_transform(merged_df[['close_SPY']])
merged_df.head(10)

In [ ]:
# Create the first graph with standard normalization
fig_std = go.Figure()
fig_std.add_trace(go.Scatter(x=merged_df['date'], y=merged_df['close_SPY_std'], name='SPY'))
fig_std.add_trace(go.Scatter(x=merged_df['date'], y=merged_df['close_ES_std'], name='ES'))
fig_std.update_layout(title='SPY vs ES Closing Prices (Standard Normalization)',
                      xaxis_title='Date',
                      yaxis_title='Normalized Price')

In [ ]:
# Create the second graph with min-max normalization
fig_mm = go.Figure()
fig_mm.add_trace(go.Scatter(x=merged_df['date'], y=merged_df['close_SPY_mm'], name='SPY'))
fig_mm.add_trace(go.Scatter(x=merged_df['date'], y=merged_df['close_ES_mm'], name='ES'))
fig_mm.update_layout(title='SPY vs ES Closing Prices (Min-Max Normalization)',
                     xaxis_title='Date',
                     yaxis_title='Normalized Price')